
.topbar{
    width: 100%;
    height: 50%;
    background-color:#330808;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 3px solid rgb(63, 4, 4);
    box-shadow: 1px 1px 20px #0f0000;

}

.topbarWrapper{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon{
    height: 55px;
}

.logo{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;

}