
button[type="button"]:hover {
    background: #ebecf1;
    color: #0000;
  }

  .login-form{
      margin-top: 10%;
      display: flex;
      justify-content: center;
      position: relative;
      background-image: url("../assets/ipayroii.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  .login-title{
    color: white;
    text-align: center;
    padding: 10px;
  }

  .login-button{
      background-color: rgb(43, 37, 37);
      color: wheat;
  }
  .form-style2{
      background-color: rgb(95, 6, 12);
      width: 40%;
      border-color: rgba(29, 27, 28, 0.185);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
  }