.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 50px;
}
.card{
    align-items: center;
    max-width: 80%;
    margin-top: 60px;
    margin-left: 50px
}
.form-style{
    width: 100%;
    margin-left: 80px;
    position: relative;

}

.rate-text{
    font-weight: bold;
    text-align: center;
}